.heading_hero {
  height: 10rem;
}

.et_bestilling {
  margin-top: 3rem;
  padding: 1.5rem;
}

.et_bestilling {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button1 {
  background-color: #517349;
  color: white;
  border: 0.125rem solid #517349;
  font-size: 1.5rem;
  margin-top: 5rem;
  display: block;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0px 6px 8px grey;

  width: 8rem;

  left: 8rem;
  position: relative;
  top: -1rem;
}

.button1:hover {
  color: #517349;
  background-color: white;
}

.et_bestilling .button {
  width: 4rem;

  left: 18rem;
  position: relative;
  top: -10rem;
}
.et_bestilling img {
  width: 100%;
  left: 0rem;
  position: relative;
}
.to_bestilling .button {
  position: relative;
  width: 55%;

  top: -60px;

  background: #517349;
  color: white;
  border: 0.125rem solid #517349;
  font-size: 1.5rem;
  margin-top: 5rem;
  display: inline-block;
  padding: 0.5rem;
  box-shadow: 0px 6px 8px grey;
}

.to_bestilling .button:hover {
  color: #517349;
  background-color: white;
}

.et_bestilling .ordre_info p {
  position: relative;
  left: 5rem;
}

.to_bestilling {
  background-color: #b6c6b8;
  padding: 1.5rem;
  margin-bottom: 10rem;
}

.to_bestilling {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -4rem;
  margin-bottom: 10rem;
}

.to_bestilling p {
  margin-top: 2rem;
}

.to_bestilling img {
  width: 30rem;
  margin-left: 6rem;
}

@media (max-width: 1300px) {
  .heading_hero h3 {
    left: 1rem;
  }

  .et_bestilling {
    display: block;
  }

  .et_bestilling img {
    margin-bottom: 2rem;
    margin-left: -1rem;
    left: 1rem;
  }

  .et_bestilling .ordre_info p {
    width: 100%;
    position: relative;
    left: 5px;
  }

  .et_bestilling .button {
    left: 12rem;
  }
  .et_bestilling .button1 {
    left: 2rem;
  }

  .to_bestilling {
    display: block;
  }

  .to_bestilling img {
    width: 100%;
    margin-left: 0;
  }

  .to_bestilling .button {
    width: auto;
  }
}
