#hero {
  height: 80vh;
  width: 100%;
  display: grid;
  mix-blend-mode: multiply;
}
#hero #heading_1 {
  grid-area: 1/1;
  z-index: 10;
}

#hero video {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;

  opacity: 0.8;
  mix-blend-mode: multiply;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

#section_one {
  padding: 2em;
}

#section_two {
  background-color: #b6c6b8;
  padding: 2em;
  margin-bottom: 10rem;
}

@media (min-width: 1000px) {
  #section_one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 5rem;
  }

  #section_two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 5rem;
  }
}
