#hero {
  height: 80vh;
  width: 100%;
  display: grid;
  background-color: rgb(155, 182, 163);
}
#hero #heading_1 {
  grid-area: 1/1;
  z-index: 10;
}

#heading_1 {
  color: white;
  font-family: "EB Garamond", serif;
  font-size: 6rem;
  text-align: center;

  border: 0.125rem solid white;
  padding: 0.25rem;
}

#hero video {
  grid-area: 1/1;
  width: 100%;
  height: inherit;
  object-fit: cover;
  object-position: 50% 50%;

  opacity: 0.8;
  mix-blend-mode: color-burn;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

#section_two,
#section_four {
  background-color: #b6c6b8;
}

.link_img:hover {
  border: 0.25rem solid #517349;
  transition: 3ms;
}

@media (min-width: 1300px) {
  #section_one,
  #section_two,
  #section_three,
  #section_four {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 2rem;
  }
}

@media (max-width: 767px) {
  #hero_vid {
    display: none;
  }

  #heading_1 {
    border: none;
  }

  #hero {
    background: url("philo.webp");
    background-size: cover;
    opacity: 0.9;
    background-position: 100% 0%;
  }
}
