#info_box {
  background-color: #acc1af;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#contact_col {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.map-responsive {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

#contact_col h3 {
  flex-basis: 100%;
  grid-column: 1 / -1;
}

/* mød de ansatte */
#meet_the_staff img {
  border-radius: 50%;
}

#meet_the_staff_wrapper {
  background-color: #b6c6b8;
}

#meet_the_staff {
  padding: 2em;
  justify-content: center;
}

#meet_the_staff figure {
  justify-content: center;
  text-align: center;
}

#meet_the_staff_wrapper h2 {
  padding-left: 2rem;
  padding-top: 2rem;
}

.telefon,
.cvr,
.mail,
.indehaver {
  padding: 0.5rem;
}

/* mediaqueries */
@media (min-width: 600px) {
  #meet_the_staff {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 2rem;
  }
}

@media (min-width: 1000px) {
  #meet_the_staff {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 2rem;
  }

  #meet_the_staff {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
    padding: 2rem;
  }
}
