/* font-family: 'EB Garamond', serif;
font-family: 'Roboto', sans-serif; */

/*burger*/

#menu {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #517349;

  display: flex;
  flex-direction: column;
  position: fixed;

  justify-content: center;
  padding: 5rem;
  z-index: 100;
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.83, 0.04, 0.1, 0.97);
}

#menu.hide {
  transition-delay: 500ms;
}

#menu.open {
  transform: translateX(0);
}

#menu a {
  color: white;
  transition: transform 0.5s cubic-bezier(0.83, 0.04, 0.1, 0.97);
}
#menu a:hover {
  font-size: 1.6rem;
}

#menu #try {
  transition-delay: 400ms;
}

#menu #to {
  transition-delay: 450ms;
}

#menu #hover {
  transition-delay: 500ms;
}

#menu #me {
  transition-delay: 550ms;
}

#menu.hide #try {
  transition-delay: 0ms;
}

#menu.hide #to {
  transition-delay: 50ms;
}

#menu.hide #hover {
  transition-delay: 100ms;
}

#menu.hide #me {
  transition-delay: 150ms;
}

#menu.hide a {
  transform: translateX(-70px);
  opacity: 0;
}

/* #burger_btn */

#burger_btn {
  width: 40px;
  height: 40px;
  position: sticky;
  z-index: 200;
  margin: 1rem;
}

.stroke {
  width: 100%;
  height: 3px;
  position: sticky;
  top: calc(50% - 1.5px);
  left: 0;
  background-color: #21331d;
}

.stroke.top {
  transform: translateY(-10px);
}

.stroke.bottom {
  transform: translateY(10px);
}

/* #burger_btn OPEN / Hide*/

#burger_btn.open .stroke {
  animation-duration: 1s;
  animation-fill-mode: both;
}

#burger_btn.open .stroke.top {
  animation-name: kf_stroke_top;
}

#burger_btn.open .stroke.center {
  animation-name: kf_stroke_center;
}

#burger_btn.open .stroke.bottom {
  animation-name: kf_stroke_bottom;
}

#burger_btn.hide .stroke {
  animation-direction: reverse;
  animation-duration: 1s;
  animation-fill-mode: both;
}

#burger_btn.hide .stroke.top {
  animation-name: kf_stroke_top;
}

#burger_btn.hide .stroke.center {
  animation-name: kf_stroke_center;
}

#burger_btn.hide .stroke.bottom {
  animation-name: kf_stroke_bottom;
}

/* Keyframes */

@keyframes kf_stroke_center {
  0% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  50% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes kf_stroke_top {
  0% {
    transform: translateY(-12px);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  50% {
    transform: translateY(0px);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  100% {
    transform: translateY(0px) rotate(45deg);
  }
}

@keyframes kf_stroke_bottom {
  0% {
    transform: translateY(12px);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  50% {
    transform: translateY(0px);
    animation-timing-function: cubic-bezier(0.83, 0.04, 0.1, 0.97);
  }

  100% {
    transform: translateY(0px) rotate(-45deg);
  }
}

/*burgerslut*/

img,
video {
  width: 100%;
  height: auto;
  display: block;
  box-sizing: border-box;
  box-shadow: 0 7px 8px grey;
}

* {
  margin: 0;
  padding: 0;
}

main {
  padding: 1.5rem;
}

body {
  background-color: #f2f2f2;
}

#heading_nav {
  color: #517349;
  font-family: "EB Garamond", serif;
  font-size: 3rem;
}

#heading_nav:hover {
  border-bottom: none;
  color: #21331d;
}

h2 {
  color: #517349;
  font-family: "EB Garamond", serif;
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}

h3 {
  color: #517349;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 2rem;
}

#heading_1 {
  color: white;
  font-family: "EB Garamond", serif;
  font-size: 6rem;
  text-align: center;
  margin: auto;
  border: 0.125rem solid white;
  padding: 0.25rem;
}

h1 {
  color: #517349;
  font-family: "EB Garamond", serif;
  font-size: 6rem;
  text-align: center;
  margin: auto;

  padding: 0.25rem;
}

p {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  padding: 0.125rem;
  text-decoration: none;
  font-family: "EB garamond", serif;
  color: black;
  font-size: 1.5rem;
}

a:hover {
  border-bottom: 0.2rem solid #517349;
  color: #517349;
}

header {
  background-color: white;
  border-bottom: 0.125rem solid grey;
}

nav ul {
  padding: 1.5rem;
  overflow: hidden;
}

.button {
  background-color: #517349;
  color: white;
  border: 0.125rem solid #517349;
  font-size: 1.5rem;
  margin-top: 5rem;
  display: inline-block;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0px 6px 8px grey;
}

.button:hover {
  color: #517349;
  background-color: white;
}
#kontakt {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem;
}

footer {
  font-family: "roboto", sans-serif;
  background-color: white;
  border-top: 0.125rem solid grey;
}

address {
  font-style: normal;
  padding-top: 0.6rem;
}

@media (min-width: 1000px) {
  main {
    margin: 10px 200px 10px 200px;
  }

  #menu ul {
    display: flex;
    justify-content: end;
    gap: 6rem;
    padding: 1.5rem;
    margin-right: 4rem;
  }
}
