img,
video {
  width: 100%;
  height: auto;
  display: block;
  box-sizing: border-box;
  box-shadow: 0 7px 8px grey;
}

* {
  margin: 0;
  padding: 0;
}

main {
  max-width: 1000px;
  padding: 2rem;
  margin: auto;
}

#heading_nav {
  color: #517349;
  font-family: "EB Garamond", serif;
  font-size: 3rem;
  margin: 2rem;
}

#heading_nav:hover {
  border-bottom: none;
  color: #21331d;
}

h1 {
  color: #517349;
  font-family: "EB Garamond", serif;
  font-size: 6rem;
  text-align: center;
  margin: auto;
}

h2 {
  color: #517349;
  font-family: "EB Garamond", serif;
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}

h3 {
  color: #517349;
  font-family: "EB Garamond", serif;
  font-size: 1.5rem;
}

h4 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
}

p {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  line-height: 2rem;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  padding: 1.5rem;
  margin-right: 4rem;
  overflow-x: auto;
  overflow-y: hidden;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  padding: 0.125rem;
  text-decoration: none;
  font-family: "EB garamond", serif;
  color: black;
  font-size: 1.5rem;
}

a:hover {
  border-bottom: 0.2rem solid #517349;
  color: #517349;
}

header {
  background-color: white;
  border-bottom: 0.125rem solid grey;
}

nav ul {
  padding: 1.5rem;
  overflow: hidden;
}

.button {
  background-color: #517349;
  color: white;
  border: 0.125rem solid #517349;
  font-size: 1.5rem;
  margin-top: 5rem;
  display: inline-block;
  width: 8rem;
  height: 2rem;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0px 6px 8px grey;
}

.button:hover {
  color: #517349;
  background-color: white;
}

#kontakt {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem;
}

/* line awesome icons */
.la-facebook-square {
  font-size: 2rem;
}

.la-instagram {
  font-size: 2rem;
}

/* line awesome icont end */

footer {
  font-family: "roboto", sans-serif;
  background-color: white;
  border-top: 0.125rem solid grey;
  margin-top: 5rem;
}

address {
  font-style: normal;
  padding-top: 0.6rem;
}

@media (min-width: 1000px) {
  header nav ul {
    display: flex;
    justify-content: end;
    gap: 6rem;
    padding: 1.5rem;
    margin-right: 4rem;
  }
}
