#main_om_os {
  max-width: none;
  padding: 0;
  margin: 0;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  /* height: auto; */

  aspect-ratio: 9/16;
}

/* #splash img {
  height: 45vw;
  width: 100vw;
  object-fit: cover;
} */

#section_one_about {
  padding: 2rem;
}

#section_two_about {
  background-color: #b6c6b8;
  padding: 2rem;
  justify-content: center;
}

#section_two_about figure {
  justify-content: center;
  text-align: center;
}

#section_two_about img {
  border-radius: 50%;
}

/* .circular--portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  height: auto;
} */

@media (min-width: 600px) {
  /* #section_one_about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 5rem;
  } */
  #section_two_about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 5rem;
  }
}

@media (min-width: 1000px) {
  #section_one_about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 5rem;
  }

  #section_two_about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    padding: 5rem;
  }
}
